[submodule "assets/subs/InformationVisualization"]
	path = assets/subs/InformationVisualization
	url = https://github.com/JagjeetSunghera/InformationVisualization
	branch = main

[submodule "assets/submodules/InformationVisualization"]
	path = assets/submodules/InformationVisualization
	url = https://github.com/JagjeetSunghera/InformationVisualization
