[submodule "assets/subs/InformationVisualization"]
	path = assets/subs/InformationVisualization
	url = https://github.com/JagjeetSunghera/InformationVisualization
	branch = main

[submodule "_posts/submodules/InformationVisualization"]
	path = _posts/submodules/InformationVisualization
	url = https://github.com/JagjeetSunghera/InformationVisualization
